<% include partials/header %>

<div class="container">
    <h1 style="text-align:center">Authentication</h1>
    <div style="width:30%; margin:50 auto;">
        <form action="/admin-login" method="POST">
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="password"></div>
            
            <div class="form-group"><button class="btn btn-lg btn-primary btn-block">LOG IN</button></div>
        </form>
       
    </div>
    
</div>

<% include partials/footer %>