<% include partials/header %>
    <div class="container lists-div">
        <h2>Welcome admin!</h2>
    
        <h4>Your customer lists</h4>
        
       <form action="/newmail" method="POST"> 
            <div class="row">
              <div class="col-lg-3">
                <div class="input-group">
                  <input type="text" name="choice" class="form-control options-input" aria-label="...">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right options">
                      <li><a href="#">Fashion</a></li>
                      <li><a href="#">Leisure</a></li>
                      <li><a href="#">Sports</a></li>
                      <li><a href="#">Travel</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
              
              <button class="btn btn-warning">Mail em'</button>
            </div><!-- /.row -->
        </form>
        <ul class="list-group list-1"><li class="list-group-item"><strong>Fashion</strong></li></ul>
        <ul class="list-group list-2"><li class="list-group-item"><strong>Leisure</strong></li></ul>
        <ul class="list-group list-3"><li class="list-group-item"><strong>Sports</strong></li></ul>
        <ul class="list-group list-4"><li class="list-group-item"><strong>Travel</strong></li></ul>
    </div>

<script>
    document.querySelector(".options").addEventListener("click",function(e){   
                if(e.target && e.target.nodeName == "A"){  
                    document.querySelector(".options-input").value = e.target.text;
                } 
    });
    
    
    var output = <%- JSON.stringify(output); %>
    console.log(output,"the output");
    output.forEach(function(person){ 
        var newli = document.createElement("li");
        newli.className = "list-group-item";
        newli.innerHTML = person['email'];
        var li_no = person['list_number'].toString();
        document.querySelector(".list-"+li_no).appendChild(newli);
        console.log(document.querySelector(".list-"+li_no));
    });

</script>  
<% include partials/footer %>
