<% include partials/header %>
    <div class="container">
        <h2 style="text-align:center">Success!! The mail has been forwarded </h2>
        <form action="/admin" method="GET">
            <button style="display:block; margin:0 auto; border-radius:70px " class="btn btn-success btn-lg">Send another</button>
        </form>
    </div>
    
<% include partials/footer %>