<% include partials/header %>

    <div class="home-header">
        <h1 class="header"><i class="fa fa-gitlab" aria-hidden="true"></i>MailEra</h1>
        <hr>
        <h3>Hey there, welcome to MailEra</h3>
        <h4>Like something and wanna stay posted about it? Awesome. Go ahead and fill the form below and we'll do just that</h4>
    </div>
    
    <div class="container">
        <div style="width:40%; margin:50 auto;">
            <form action="/user-data" method="POST">
                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="your name "></div>
                
                <div class="form-group"><input class="form-control" type="text" name="email" placeholder="your email id"></div>
                
                <div class="form-group">
                    <input class="form-control" id="interest" type="text" name="interest" placeholder="interests to keep you posted with?">
                    
                    <div class="dropdown ">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select
                            <span class="caret"></span>
                          </button>
                          <ul id="demo-list" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a>Fashion</a></li>
                            <li><a>Leisure</a></li>
                            <li><a>Sports</a></li>
                            <li><a>Travel</a></li>
                          </ul>
                        
                    </div>
                                
                </div>
                
                <div class="form-group"><button class="btn btn-lg btn-primary btn-block">SUBMIT</button></div>
            </form>
        </div>
    </div>
    <script>
            document.getElementById("demo-list").addEventListener("click",function(e){   
                if(e.target && e.target.nodeName == "A"){  
                    document.getElementById("interest").value = e.target.text;
                } 
            });   
            
           
    </script>

<% include partials/footer %>

