<% include partials/header %>

<div class="container">
    <h1 style="text-align:center">Send Mail to <%=choice%> list</h1>
    <div style="width:30%; margin:50 auto;">
        <form action="/submit" method="POST">
            <div class="form-group"><input class="form-control to" type="text" name="to" placeholder="to"></div>
            <div class="form-group"><input class="form-control" type="text" name="subject" placeholder="subject"></div>
            <div class="form-group"><input class="form-control" type="text" name="text" placeholder="text"></div>
            
            <div class="form-group"><button class="btn btn-lg btn-primary btn-block">SEND</button></div>
        </form>
        <a href="/admin">Go Back</a>
    </div>
    
</div>
<script>
    var newarr = <%- JSON.stringify(emailIds); %>
    console.log(newarr);
    var to = document.querySelector(".to");
    to.value = newarr.join();
</script>
<% include partials/footer %>