<% include partials/header %>
<div style="width:900px" class="container">
    <h1 style="text-align:center">Got it! You'll be the first one know when something new comes up in <%= interest %>. See ya :D</h1>
    <a style="border-radius:70px; display:inline-block; margin-left:360px" href="/" class="btn btn-info btn-lg">Go home</a>
</div>

<% include partials/footer %>