ul{
    width:20%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

button{
    border-radius:70px;
}

.home-header{
    width: 600px;
    margin:0 auto;

}

.header{
    letter-spacing: 13px;
}

